/* common/Footer.css */
.app-footer {
  background-color: #191919;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 10px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #ffe4d3;
}
