.scrollable-card-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: #f17f42 #ddd;
}

.scrollable-card-container::-webkit-scrollbar {
  height: 8px;
}

.scrollable-card-container::-webkit-scrollbar-thumb {
  background: #f17f42;
  border-radius: 10px;
}

.scrollable-card-container::-webkit-scrollbar-track {
  background: #ddd;
}

.scrollable-card-container > * {
  flex: 0 0 auto; /* 가로 스크롤을 위해 추가 */
}
