/* 카드 스타일 */
.location-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  padding: 20px;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;

  /* 텍스트 잘라내기 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-address {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.card-distance {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.card-description {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;

  /* 텍스트 잘라내기 */
  max-height: 3em; /* 최대 2줄 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 줄 수 제한 */
  -webkit-box-orient: vertical;
}
