.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover; /* 배경 이미지 크기 조정 */
  background-position: center; /* 배경 이미지 중앙 정렬 */
  height: 400px;
  padding: 0;
}

.slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 어두운 배경 */
  z-index: 1; /* 텍스트와 버튼 뒤로 */
}

.slider-item {
  color: #ffffff;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2; /* 텍스트와 버튼을 오버레이 위로 */
}

.slider-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slider-dates,
.slider-address {
  font-size: 16px;
  margin-bottom: 5px;
}

.slider-btn {
  background-color: white;
  color: #f17f42;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* 버튼을 오버레이 위로 */
  transition: background-color 0.3s ease;
}

.slider-btn:hover {
  background-color: #ce6d39;
  color: white;
}

.slider-btn.prev {
  left: 15px;
}

.slider-btn.next {
  right: 15px;
}

.slider-empty {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 20px;
}
