.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.detail-container {
  display: flex;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.detail-image {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-info {
  flex: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-info p {
  margin: 5px 0;
  font-size: 16px;
}

.map-section {
  margin-top: 20px;
}

.map-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-button img {
  height: 20px; /* 이미지 높이 */
  margin-right: 10px; /* 이미지와 텍스트 간격 */
}

.map-button:hover {
  background-color: #e8e8e8;
}

.search-buttons {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search-button-google,
.search-button-naver {
  /* background-color: #f17f42;
  color: white; */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-button-google img,
.search-button-naver img {
  height: 20px; /* 이미지 높이 */
  margin-right: 10px; /* 이미지와 텍스트 간격 */
}

.search-button-google {
  background-color: white;
  color: black;
}
.search-button-naver {
  background-color: #03c75a;
  color: white;
}

.search-button-naver:hover {
  background-color: #00a54a;
}
.search-button-google:hover {
  background-color: #e8e8e8;
}

.calendar-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-date {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.calendar-date.today {
  border: 1px solid #f17f42;
}

.calendar-date.active {
  background-color: #f17f42;
  color: #fff;
}

.status-ai-logo img {
  height: 20px;
}
.status-message {
  max-width: 1200px;
  margin-top: 20px;
  padding: 15px;
  background-color: #212121;
  border-radius: 8px;
  text-align: start;
  white-space: pre-wrap; /* 줄 바꿈 가능 */
}

.status-message p {
  font-size: 16px;
  color: white;
}

.status-message p.loading {
  color: #ff9800;
}

.status-message p.success {
  color: #4caf50;
}

.status-message p.error {
  color: #f44336;
}
